<a href="https://colab.research.google.com/github/TomasCastilloF/Desempeno-Academico-Un-Modelo-Predictivo-Basado-en-Factores-Sociodemograficos-y-Conductuales/blob/main/Desempe%C3%B1o_acad%C3%A9mico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np
import pandas as pd
import os
from google.colab import drive

In [2]:
# Verificar si el repositorio ya está clonado
if not os.path.exists('Desempeno-Academico-Un-Modelo-Predictivo-Basado-en-Factores-Sociodemograficos-y-Conductuales'):
    !git clone https://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@github.com/TomasCastilloF/Desempeno-Academico-Un-Modelo-Predictivo-Basado-en-Factores-Sociodemograficos-y-Conductuales.git

Cloning into 'Desempeno-Academico-Un-Modelo-Predictivo-Basado-en-Factores-Sociodemograficos-y-Conductuales'...
remote: Enumerating objects: 15, done.
remote: Counting objects: 100% (15/15), done.
remote: Compressing objects: 100% (14/14), done.
remote: Total 15 (delta 3), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (15/15), 20.35 KiB | 4.07 MiB/s, done.
Resolving deltas: 100% (3/3), done.

In [3]:
try:
    !git config --global user.email "tecastillof@gmail.com"
    !git config --global user.name "TomasCastilloF"
except Exception as e:
    print("Ya está configurado o ocurrió un error:", e)

In [11]:
data = pd.read_csv('Desempeno-Academico-Un-Modelo-Predictivo-Basado-en-Factores-Sociodemograficos-y-Conductuales/students.csv', sep= "|")

data.head(10)

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,GP,F,nulidade,U,GT3,A,4,4,at_home,...,4,3,"""4""",1,1,"""3""",6,5,6,6
1,1,GP,F,"""17""",U,GT3,T,1,1,at_home,...,5,3,"""3""",1,1,"""3""",4,5,5,6
2,2,GP,F,"""15""",U,LE3,T,1,1,at_home,...,4,3,"""2""",2,3,"""3""",10,zero,8,10
3,3,GP,F,"""15""",U,GT3,T,4,2,health,...,3,2,"""2""",1,1,"""5""",2,15,14,15
4,4,GP,F,sem validade,U,GT3,T,3,3,other,...,4,3,"""2""",1,2,"""5""",4,6,10,10
5,5,GP,M,"""16""",U,LE3,T,4,3,services,...,5,4,"""2""",1,2,"""5""",10,15,15,15
6,6,GP,M,"""16""",U,LE3,T,2,2,other,...,4,4,"""4""",1,1,"""3""",0,12,12,11
7,7,GP,F,"""17""",U,GT3,A,4,4,other,...,4,1,"""4""",1,1,"""1""",6,6,5,6
8,8,GP,M,"""15""",U,LE3,A,3,2,services,...,4,2,"""2""",1,1,"""1""",0,16,18,19
9,9,GP,M,"""15""",U,GT3,T,3,4,other,...,5,5,"""1""",1,1,"""5""",0,14,15,15

Analisis exploratorio

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  395 non-null    int64
 1   school      395 non-null    object
 2   sex         395 non-null    object
 3   age         395 non-null    object
 4   address     395 non-null    object
 5   famsize     395 non-null    object
 6   Pstatus     395 non-null    object
 7   Medu        395 non-null    object
 8   Fedu        395 non-null    object
 9   Mjob        395 non-null    object
 10  Fjob        395 non-null    object
 11  reason      395 non-null    object
 12  guardian    395 non-null    object
 13  traveltime  395 non-null    object
 14  studytime   395 non-null    object
 15  failures    395 non-null    object
 16  schoolsup   395 non-null    object
 17  famsup      395 non-null    object
 18  paid        395 non-null    object
 19  activities  395 non-null    object
 20  nursery     395 non-null    object
 21  higher      395 non-null    object
 22  internet    395 non-null    object
 23  romantic    395 non-null    object
 24  famrel      395 non-null    object
 25  freetime    395 non-null    object
 26  goout       395 non-null    object
 27  Dalc        395 non-null    object
 28  Walc        395 non-null    object
 29  health      395 non-null    object
 30  absences    395 non-null    object
 31  G1          395 non-null    object
 32  G2          395 non-null    int64
 33  G3          395 non-null    object
dtypes: int64(2), object(32)
memory usage: 105.0+ KB

In [13]:
# eliminamos Unnamed: 0
data = data.drop(columns=['Unnamed: 0'])

In [14]:
data.isnull().sum
print(data.isnull().sum())

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

Limpieza