<a href="https://colab.research.google.com/github/TomasCastilloF/Desempeno-Academico-Un-Modelo-Predictivo-Basado-en-Factores-Sociodemograficos-y-Conductuales/blob/main/Desempe%C3%B1o_acad%C3%A9mico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import numpy as np
import pandas as pd
import os
from google.colab import drive

In [50]:
# Verificar si el repositorio ya está clonado
if not os.path.exists('Desempeno-Academico-Un-Modelo-Predictivo-Basado-en-Factores-Sociodemograficos-y-Conductuales'):
    !git clone https://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@github.com/TomasCastilloF/Desempeno-Academico-Un-Modelo-Predictivo-Basado-en-Factores-Sociodemograficos-y-Conductuales.git

In [4]:
try:
    !git config --global user.email "tecastillof@gmail.com"
    !git config --global user.name "TomasCastilloF"
except Exception as e:
    print("Ya está configurado o ocurrió un error:", e)

In [51]:
data = pd.read_csv('Desempeno-Academico-Un-Modelo-Predictivo-Basado-en-Factores-Sociodemograficos-y-Conductuales/students.csv', sep= "|")

data.head()

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,GP,F,nulidade,U,GT3,A,4,4,at_home,...,4,3,"""4""",1,1,"""3""",6,5,6,6
1,1,GP,F,"""17""",U,GT3,T,1,1,at_home,...,5,3,"""3""",1,1,"""3""",4,5,5,6
2,2,GP,F,"""15""",U,LE3,T,1,1,at_home,...,4,3,"""2""",2,3,"""3""",10,zero,8,10
3,3,GP,F,"""15""",U,GT3,T,4,2,health,...,3,2,"""2""",1,1,"""5""",2,15,14,15
4,4,GP,F,sem validade,U,GT3,T,3,3,other,...,4,3,"""2""",1,2,"""5""",4,6,10,10

Analisis exploratorio

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  395 non-null    int64
 1   school      395 non-null    object
 2   sex         395 non-null    object
 3   age         395 non-null    object
 4   address     395 non-null    object
 5   famsize     395 non-null    object
 6   Pstatus     395 non-null    object
 7   Medu        395 non-null    object
 8   Fedu        395 non-null    object
 9   Mjob        395 non-null    object
 10  Fjob        395 non-null    object
 11  reason      395 non-null    object
 12  guardian    395 non-null    object
 13  traveltime  395 non-null    object
 14  studytime   395 non-null    object
 15  failures    395 non-null    object
 16  schoolsup   395 non-null    object
 17  famsup      395 non-null    object
 18  paid        395 non-null    object
 19  activities  395 non-null    object
 20  nursery     395 non-null    object
 21  higher      395 non-null    object
 22  internet    395 non-null    object
 23  romantic    395 non-null    object
 24  famrel      395 non-null    object
 25  freetime    395 non-null    object
 26  goout       395 non-null    object
 27  Dalc        395 non-null    object
 28  Walc        395 non-null    object
 29  health      395 non-null    object
 30  absences    395 non-null    object
 31  G1          395 non-null    object
 32  G2          395 non-null    int64
 33  G3          395 non-null    object
dtypes: int64(2), object(32)
memory usage: 105.0+ KB

In [53]:
# eliminamos Unnamed: 0
data = data.drop(columns=['Unnamed: 0'])

In [54]:
data.isnull().sum
print(data.isnull().sum())

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [55]:
# valores únicos por columna
for col in data.columns:
    unique_values = data[col].unique()
    print(f"Valores únicos en la columna '{col}': {unique_values}")

Valores únicos en la columna 'school': ['GP' 'sem validade' 'zero' 'nulidade' 'MS']
Valores únicos en la columna 'sex': ['F' 'M' 'nulidade' 'zero' 'sem validade']
Valores únicos en la columna 'age': ['nulidade' '"17"' '"15"' 'sem validade' '"16"' '"19"' '"18"' '"22"'
 '"20"' '"21"']
Valores únicos en la columna 'address': ['U' 'R' 'sem validade']
Valores únicos en la columna 'famsize': ['GT3' 'LE3' 'sem validade' 'zero']
Valores únicos en la columna 'Pstatus': ['A' 'T' 'sem validade' 'nulidade' 'zero']
Valores únicos en la columna 'Medu': ['4' '1' '3' '2' 'sem validade' '0' 'nulidade']
Valores únicos en la columna 'Fedu': ['4' '1' '2' '3' '0' 'zero' 'sem validade' 'nulidade']
Valores únicos en la columna 'Mjob': ['at_home' 'health' 'other' 'services' 'nulidade' 'teacher' 'sem validade'
 'zero']
Valores únicos en la columna 'Fjob': ['teacher' 'other' 'services' 'health' 'at_home']
Valores únicos en la columna 'reason': ['course' 'other' 'home' 'reputation' 'sem validade' 'nulidade' 'zero']
Valores únicos en la columna 'guardian': ['mother' 'father' 'other' 'sem validade' 'zero' 'nulidade']
Valores únicos en la columna 'traveltime': ['2' '1' '3' '4' 'nulidade' 'sem validade']
Valores únicos en la columna 'studytime': ['2' '3' '1' '4' 'sem validade' 'nulidade']
Valores únicos en la columna 'failures': ['0' '3' '2' '1' 'nulidade' 'sem validade']
Valores únicos en la columna 'schoolsup': ['yes' 'no' 'zero' 'nulidade' 'sem validade']
Valores únicos en la columna 'famsup': ['no' 'yes' 'sem validade' 'zero' 'nulidade']
Valores únicos en la columna 'paid': ['no' 'yes' 'zero']
Valores únicos en la columna 'activities': ['no' 'yes' 'zero' 'sem validade' 'nulidade']
Valores únicos en la columna 'nursery': ['yes' 'no' 'sem validade' 'nulidade' 'zero']
Valores únicos en la columna 'higher': ['yes' 'nulidade' 'zero' 'no' 'sem validade']
Valores únicos en la columna 'internet': ['no' 'yes' 'nulidade' 'zero']
Valores únicos en la columna 'romantic': ['no' 'yes' 'sem validade' 'zero']
Valores únicos en la columna 'famrel': ['4' '5' '3' '1' '2' 'sem validade' 'zero' 'nulidade']
Valores únicos en la columna 'freetime': ['3' '2' '4' '1' '5' 'nulidade' 'zero']
Valores únicos en la columna 'goout': ['"4"' '"3"' '"2"' '"1"' '"5"' 'nulidade' 'zero' 'sem validade']
Valores únicos en la columna 'Dalc': ['1' '2' '5' '3' 'nulidade' '4' 'sem validade']
Valores únicos en la columna 'Walc': ['1' '3' '2' '4' '5' 'nulidade' 'sem validade']
Valores únicos en la columna 'health': ['"3"' '"5"' '"1"' '"2"' '"4"' 'sem validade' 'zero']
Valores únicos en la columna 'absences': ['6' '4' '10' '2' '0' '16' '14' '7' '8' '25' 'zero' '12' '54' '18' '26'
 '20' 'nulidade' 'sem validade' '56' '24' '28' '5' '13' '15' '22' '3' '21'
 '1' '75' '30' '19' '9' '11' '38' '40' '23' '17']
Valores únicos en la columna 'G1': ['5' 'zero' '15' '6' '12' '16' '14' '10' '13' '8' '11' '9' '17' '7' '19'
 'nulidade' '18' '4' '3']
Valores únicos en la columna 'G2': [ 6  5  8 14 10 15 12 18 16 13  9 11  7 19 17  4  0]
Valores únicos en la columna 'G3': ['6' '10' '15' '11' '19' '9' '12' '14' '16' '5' '8' '17' '18' '13' '20'
 '7' '0' 'nulidade' '4']

In [56]:
# Remplazaremos los valores anomalos por nan
valores_anomalos = ['nulidade', 'sem validade', 'zero']
data = data.replace(valores_anomalos, np.nan)

In [57]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,NaN,U,GT3,A,4,4,at_home,teacher,...,4,3,"""4""",1,1,"""3""",6,5,6,6
1,GP,F,"""17""",U,GT3,T,1,1,at_home,other,...,5,3,"""3""",1,1,"""3""",4,5,5,6
2,GP,F,"""15""",U,LE3,T,1,1,at_home,other,...,4,3,"""2""",2,3,"""3""",10,NaN,8,10
3,GP,F,"""15""",U,GT3,T,4,2,health,services,...,3,2,"""2""",1,1,"""5""",2,15,14,15
4,GP,F,NaN,U,GT3,T,3,3,other,other,...,4,3,"""2""",1,2,"""5""",4,6,10,10

In [58]:
# convertir columnas tipo numericas a numericas, gestionando posibles errores
numeric_columns = ['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel', 'freetime', 'goout', 'Dalc', 'health', 'Walc', 'absences', 'G1', 'G3']
for col in numeric_columns:
    if data[col].dtype == 'object':
        data[col] = pd.to_numeric(data[col].str.strip('"'), errors='coerce')
    else: print(f"La columna '{col}' ya es numérica.")

In [59]:
data.isnull().sum()
print(data.isnull().sum())

school        5
sex           3
age           4
address       2
famsize       4
Pstatus       6
Medu          3
Fedu          5
Mjob          6
Fjob          0
reason        4
guardian      4
traveltime    3
studytime     5
failures      5
schoolsup     8
famsup        5
paid          1
activities    5
nursery       6
higher        6
internet      3
romantic      2
famrel        5
freetime      2
goout         5
Dalc          3
Walc          5
health        4
absences      4
G1            4
G2            0
G3            3
dtype: int64

In [41]:
# convertiremos las columnas escritas como string a int

data[['age', 'goout', 'health']] = data[['age', 'goout', 'health']].apply(lambda col: col.str.strip('"')).astype(int)

data.head()

ValueError: cannot convert float NaN to integer

Limpieza